.bento-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 25vh 15vh 40vh;
    gap: 16px;
    padding: 40px 24px;
    max-width: 1440px;
    margin: 0 auto;

}

.loans-title-card {
    grid-column: 1 / 3;
    grid-row: 1;
}

.SME-card {
    grid-column: 3;
    grid-row: 1 / 4;
}

.Salary-loan-card {
    grid-column: 1;
    grid-row: 2 / 4;
}

.NDIC-card {
    grid-column: 2;
    grid-row: 2;
}

.SME-loan-card {
    grid-column: 2;
    grid-row: 3/4;
}




.loans-title-card,
.Salary-loan-card,
.SME-loan-card,
.NDIC-card,
.SME-card {
    border-radius: 20px;
    padding: 20px;
    gap: 24px;
    background-color: #F5F0EA;
    border: 1px solid #E7DFD4;
}

.NDIC-card {
    color: #1a1f2c;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
}



.Salary-loan-card,
.SME-loan-card,
.SME-card {
    display: flex;
    flex-direction: column;
}

.card-img-wrap {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}

.card-img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Salary-loan-card .card-img-wrap,
.SME-loan-card .card-img-wrap,
.SME-card .card-img-wrap {
    flex: 1;
    height: unset;
    width: 100%;
}

.NDIC-card {
    color: #1a1f2c;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bento-grid .cbnLogo{
    height: 80px;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 15px;
}

.card-title {
    font-size: 25px;
    font-weight: 700;
    color: #1a1f2c;
    margin: 0;
}

.Salary-loan-card,
.SME-loan-card,
.SME-card {
    gap: 8px;
}

.loans-title-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

.loans-title-card .big-title {
    margin: 0;
    white-space: normal;
}

.loans-title-card .little-title {
    text-align: left;
}

.loans-title-card .invertbigtitle {
    display: inline;
}

@media (max-width: 767px) {
    .bento-grid {
        display: none;
    }
}
